@import url(html4css1.css);

body {    
    color: #202020; 
    background-color: #ffffff;
    font-size:   90%;
    line-height: 125%;
    font-family: Arial, Geneva, Helvetica, sans-serif;
}

h1, h1, h2, h3, h4, strong {
    color: #1240AB;
}

.pre {
    color: #202020; 
    background-color: #ffffff;
}

h1 a.toc-backref, h2 a.toc-backref, h3 a.toc-backref, h4 a.toc-backref {
    color: #1240AB;
}

h1, h2, h3, h4, h5, h6
{
    text-align: left;
    background-color: #f2f2f2;
    font-weight: normal;
    border-bottom: 1px solid #ccc;
    padding: 9px 0 9px 10px;
}

h1 { margin-top: 0; font-size: 200%; }
h2 { font-size: 160%; }
h3 { font-size: 140%; }
h4 { font-size: 120%; }
h5 { font-size: 110%; }
h6 { font-size: 100%; }

.highlight pre
{
  background-color: #f7f7f7;
  padding: 5px;
  border-top: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
}

